* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Change color and fonts */

.App {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

/* Navigation */
.nav {
  background-color: #b3ffff;
  /* background-color: #BBB8FF; */
  grid-column: 1 / span 3;
  grid-row: 1;

  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.nav-dropdown {
  grid-column: 1;
  grid-row: 1;
  padding: 10px;
}

.nav-dropdown img {
  width: 50px;
}

/* Dropdown Content (Hidden by Default) */
.nav-left {
  position: absolute;
  top: 60px;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-left a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.nav-show {
  display: block;
}

.nav-hide {
  display: none;
}

.active-lang {
  font-weight: bolder;
  background-color: aqua;
}

.inactive-lang {
  font-weight: 100;
  background-color: antiquewhite;
}

.nav-right {
  grid-column: 2;
  grid-row: 1;
  padding: 1.5rem;
}

.nav-right ul li{
  list-style: none;
  display: inline;
  padding: 5px;
}

/* Small devices */
@media only screen and (min-width: 600px) {
  .nav-dropdown {
    display: none;
  }

  .nav-left {
    position: static;
    grid-column: 1;
    grid-row: 1;
    box-shadow: none;
    background-color: transparent; 
    padding: 1.5rem;
  }

  .nav-left a{
    display: inline;
  }
  
  .nav-hide {
    display: block;
  }
}
