* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro';
  min-height: 100vh;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

a {
  color:rgb(112, 77, 136) !important;
  font-family: 'Source Sans Pro';
}

.focused {
  font-weight: bolder;
  color: rgb(72, 75, 95) !important;
}

.navbar {
  background-color: #dadada !important;
}

.navbar-menu {
  background-color: transparent !important;
  box-shadow: 0 0px 0px rgba(10, 10, 10, 0.1) !important;
}

.height-container {
  min-height: 100vh;
  height: 100vh;
}

.main-picture {
  border-radius: 5px;
}

.about {
  width: 99%;
}

.about h1 {
  background: -webkit-linear-gradient(rgb(159, 180, 197), rgb(121, 94, 139));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about h2 {
  color: #9696aa;
}

span {
  color: rgb(121, 94, 139);
}

.links {
  font-size: 1.3rem;
  background-color:#b3b3b3;
  color: #f1f8f8;
  transform: rotate(-2deg);
  border-radius: 5px;
}

.links img {
  width: 50px;
}

.summary {
  color: #434349;
}

.key-words ul {
  background-color: rgb(231, 223, 236);
}

.skill-container {
  background-image: url('./img/skills.jpg');
  background-size: cover;
  height: auto;
}

.skills {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  text-align: center;
}

.skills h3 {
  color: #ffffff;
}

.skills ul li {
  color: #434349;
}

.skill {
  background-color: #dadadac2;
  width: 80%;
  border-radius: 10px;
  transform: rotate(-2deg);
  padding: 0.75rem;
  margin: 1.5rem;
}

.skill h1 {
  color: #56455c;
}

.tech {
  grid-column: 1 / 3;
  grid-row: 1;
}

.tools {
  grid-column: 3;
  grid-row: 1;
}

.soft {
  grid-column: 1;
  grid-row: 2;
}

.lang {
  grid-column: 2/4;
  grid-row: 2;
}

.portfolio {
  text-align: center;
  margin: 1rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.project {
  width: 80%;
  padding: 0.75rem;
  transform: rotate(-3deg);
}

.project:hover {
  border-radius: 7px;
  box-shadow: 5px 5px #dadadade;
  transform: rotate(0deg);
}

.project img {
  border-radius: 10px;
}

.project-details {
  text-align: center;
  color: #898092;
}

.project-title {
  padding: 0.5rem;
  text-align: center;
  color: #56455c;
}

.exp-container {
  background-image: url('./img/work.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: grid;
  grid-template-columns: auto;
}

.exp {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.experience {
  grid-row: 1;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}

.exp-work {
  background-color: #dadadade;
  width: 80%;
  border-radius: 10px;
  transform: rotate(-2deg);
  padding: 0.75rem;
  margin: 1.5rem;
}

.company-name {
  color: #40325c;
}

.date {
  color: #403346;
  font-weight: bold;
}

.details {
  color: #70697e;
}

.education {
  grid-row: 2;
  grid-column: 1 / 3;
  background-color: #dadadade;
  width: 80%;
  border-radius: 10px;
  transform: rotate(-2deg);
  padding: 0.75rem;
  margin: 1.5rem;
  text-align: center;
}

.plan {
  grid-row: 3;
  grid-column: 1;
  background-color: #dadadade;
  width: 80%;
  border-radius: 10px;
  transform: rotate(-2deg);
  padding: 0.75rem;
  margin: 1.5rem;
  text-align: center;
}

.work-progress {
  grid-row: 3;
  grid-column: 2;
  background-color: #dadadade;
  width: 80%;
  border-radius: 10px;
  transform: rotate(-2deg);
  padding: 0.75rem;
  margin: 1.5rem;
  text-align: center;
}

.interests-container h1 {
  color: #898092;
}

@media only screen and (min-width: 500px) {
  .main-picture-div {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
  }
}

@media only screen and (max-width: 1023px) {
  .main-picture-div {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    width: 50%;
    margin: 0 auto;
  }

  .nav {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .nav-icon {
    grid-column: 1;
    grid-row: 1;
    justify-self: flex-start;
  }

  .nav-flag {
    grid-column: 3;
    grid-row: 1;
    justify-self: flex-end;
  }

  .nav-links {
    grid-row: 2;
    grid-column: 1;
  }
}

@media only screen and (min-width: 1023px) {
  
  .main {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
  }

  .main-picture-div {
    grid-column: 1;
    width: 80%;
  }

  .main-text {
    grid-column: 2;
  }
}

@media only screen and (max-width: 400px) {
  .key-words ul{
    display: block !important;
  }

  .key-words ul li{
    display: block !important;
  }

  strong {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .skills {
    display: block;
    height: 100%;
    padding: 10px;
  }

  .skill {
    transform: rotate(0deg);
  }

  .projects {
    display: block;
  }

  .project {
    margin: 0 auto;
  }

  .exp-container {
    padding: 10px;
  }

  .exp-container, .experience, .exp {
    display: block;
  }

  .work-progress, .plan, .education, .exp-work {
    transform: rotate(0deg);
  }
}

@media only screen and (min-width: 1200px) {
  .main-container {
    width: 80%;
    margin: 0 auto;
  }

  .exp-container, .skill-container {
    height: 100%;
    margin: 0 auto;
    background-image: none;
  }
}