* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

/* Navigation */
.nav {
  background-color: #b3ffff;
  /* background-color: #BBB8FF; */
  grid-column: 1 / span 3;
  grid-row: 1;

  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.nav-dropdown {
  grid-column: 1;
  grid-row: 1;
  padding: 1.2rem;
}

.nav-dropdown img {
  width: 50px;
}

/* Dropdown Content (Hidden by Default) */
.nav-left {
  position: absolute;
  top: 80px;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-left a {
  display: block;
  color: #0b818b;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

.focused {
  font-weight: bolder;
  color: #03e2ff !important;
}

.nav-show {
  display: block;
}

.nav-hide {
  display: none;
}

.active-lang {
  font-weight: bolder;
  background-color: #03e2ff;
  list-style: none;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: white;
  border-radius: 5px;
}

.nav-right {
  grid-column: 2;
  grid-row: 1;
  padding: 1.5rem;
}


/* Small devices */
@media only screen and (min-width: 700px) {
  
  .nav-dropdown {
    display: none;
  }

  .nav-left {
    position: static;
    grid-column: 1;
    grid-row: 1;
    box-shadow: none;
    background-color: transparent; 
    padding-top: 2.2rem;
  }

  .nav-left a{
    display: inline;
  }
  
  .nav-hide {
    display: block;
  }
}
