* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: #42dada;
  font-size: 3rem;
}

h2 {
  color: #8fe9ee;
}

.App {
  width: 100%;
}

/* Navigation */
.nav {
  background-color: #b3ffff;
  grid-column: 1 / span 3;
  grid-row: 1;

  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.nav-dropdown {
  grid-column: 1;
  grid-row: 1;
  padding: 1.2rem;
}

.nav-dropdown img {
  width: 50px;
}

/* Dropdown Content (Hidden by Default) */
.nav-left {
  position: absolute;
  top: 80px;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-left a {
  display: block;
  color: #0b818b;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

.focused {
  font-weight: bolder;
  color: #03e2ff !important;
}

.nav-show {
  display: block;
}

.nav-hide {
  display: none;
}

.active-lang {
  font-weight: bolder;
  background-color: #03e2ff;
  list-style: none;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: white;
  border-radius: 5px;
}

.nav-right {
  grid-column: 3;
  grid-row: 1;
  padding: 1.5rem;
}

/* Navigation End */

/* Container */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-pic {
  grid-column: 2;
  grid-row: 1;
  padding: 10px;
}

.main-pic img{
  border: 4px solid #b3ffff;
  width: 200px;
  border-radius: 20px;
}

/* About page  */
.about {
  grid-column: 1 / span 3;
  grid-row: 2;
  padding: 10px;
}

.intro {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.intro ul {
  padding: 10px;
  margin: 10px;
  background-color: #b3ffff69;
  color: #898d8d;
  border-radius: 10px;
}

.intro ul li {
  display: block;
  padding: 5px;
  font-style: italic;
  font-size: 1.2rem;
}

.summary {
  border: 2px solid pink;
  padding: 5px;
  color: #3d5353;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
}

.projects-pic img {
  width: 200px;
}

@media only screen and (min-width: 650px) {
  .intro ul  li {
    display: inline;
  }
}

@media only screen and (min-width: 750px) {
  
  .nav-dropdown {
    display: none;
  }

  .nav-left {
    position: static;
    grid-column: 1;
    grid-row: 1;
    box-shadow: none;
    background-color: transparent; 
    padding-top: 2.2rem;
  }

  .nav-left a{
    display: inline;
  }
  
  .nav-hide {
    display: block;
  }
}
