* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes rotate {
  0% {transform: rotate(0);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  100% {transform: rotate(0);}
}

@keyframes project-expand {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

@keyframes project-normal {
  0% {transform: scale(1);}
  50% {transform: scale(0.8);}
  100% {transform: scale(1);}
}

@keyframes rotate-interests {
  0% {transform: rotate(0deg);}
  /* 25% {transform: rotate(-90deg);}
  50% {transform: rotate(-180deg);} */
  100% {transform: rotate(-360deg);}
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro';
  height: 100vh;
  max-width: 100%;
  width: 100%;
}

a {
  color:rgb(112, 77, 136) !important;
  font-family: 'Source Sans Pro';
}

.focused {
  font-weight: bolder;
  color: rgb(72, 75, 95) !important;
}

.navbar {
  background-color: #dadada !important;
}

.navbar-menu {
  background-color: transparent !important;
  box-shadow: 0 0px 0px rgba(10, 10, 10, 0.1) !important;
}

.height-container {
  min-height: 100vh;
  height: 100vh;
}

.main-picture {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  height: 90%;
}

.about {
  width: 99%;
}

.about h1 {
  background: -webkit-linear-gradient(rgb(159, 180, 197), rgb(121, 94, 139));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about h2 {
  color: #9696aa;
}

span {
  color: rgb(121, 94, 139);
}

.links {
  font-size: 1.3rem;
  background-color:#b3b3b3;
  color: #f1f8f8;
}

.links img {
  width: 50px;
}

.summary {
  color: #434349;
}

.key-words ul {
  background-color: rgb(231, 223, 236);
}

@media only screen and (min-width: 500px) {
  .main-picture-div {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
  }

  .main-picture {
    width: 350px;
  }
}

@media only screen and (max-width: 1023px) {
  .nav {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .nav-icon {
    grid-column: 1;
    grid-row: 1;
    justify-self: flex-start;
  }

  .nav-flag {
    grid-column: 3;
    grid-row: 1;
    justify-self: flex-end;
  }

  .nav-links {
    grid-row: 2;
    grid-column: 1;
  }
}

@media only screen and (min-width: 1023px) {
  
  .main {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }

  .main-picture-div {
    grid-column: 1;
  }

  .main-text {
    grid-column: 2;
  }
}

@media only screen and (max-width: 400px) {
  .main-picture {
    clip-path: polygon(0 0, 79% 0, 100% 100%, 20% 100%);
  }

  .key-words ul{
    display: block !important;
  }

  .key-words ul li{
    display: block !important;
  }

  strong {
    display: none;
  }
}

